<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 pt-sm-4">
                <form method="post" action="/login">
                    <div class="card" style="max-width: 600px; margin-left: auto; margin-right: auto;">
                        <div class="card-header bg-primary" style="color: white;">Вхід</div>

                        <div class="card-body">
                            <div class="form-group">
                                <label for="username">Логін</label>
                                <input id="username" type="text" name="username" class="form-control form-control-sm"
                                       placeholder="Ваш логин">
                            </div>

                            <div class="form-group">
                                <label for="password">Пароль</label>
                                <input id="password" type="password" name="password" class="form-control form-control-sm"
                                       placeholder="Ваш пароль">
                            </div>

                        </div>

                        <div class="card-footer">
                            <button type="submit" class="btn btn-success float-right">Ввійти</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</body>
</html>