<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments :: head"></head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 pt-sm-4">
                <form method="post" action="/login">
                    <div class="card" style="max-width: 600px; margin-left: auto; margin-right: auto;">
                        <div class="card-header bg-primary" style="color: white;">Вход в E-Dobavki</div>

                        <div class="card-body">
                            <div class="form-group">
                                <label for="username">Логин</label>
                                <input id="username" type="text" name="username" class="form-control form-control-sm"
                                       placeholder="Ваш логин">
                            </div>

                            <div class="form-group">
                                <label for="password">Пароль</label>
                                <input id="password" type="password" name="password" class="form-control form-control-sm"
                                       placeholder="Ваш пароль">
                            </div>

                        </div>

                        <div class="card-footer">
                            <button type="submit" class="btn btn-success float-right">Войти</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</body>
</html>