<!DOCTYPE html>
<html lang="ru">

<head th:replace="fragments :: head"></head>

<body>
<!--Top menu-->
<th:block th:replace="fragments :: top-menu"></th:block>

<div class="container mb-3">
    <div class="row">
        <div class="col-sm-12 pt-sm-2">
            <form method="post" action="/admin/add-additive">
                <div class="card">
                    <div class="card-header bg-success" style="color: white;">Добавление новой добавки</div>

                    <div class="card-body">
                        <div class="form-group mb-3">
                            <input type="text" class="form-control" id="eCod" name="eCod" placeholder="Введите код добавки (E***)">
                        </div>
                        <div class="form-group mb-3">
                            <input type="text" class="form-control" id="inputName" name="name" placeholder="Введите название добавки">
                        </div>
                        <div class="form-group mb-3">
                            <input type="text" class="form-control" id="otherNames" name="otherNames" placeholder="Введите другие имена">
                        </div>
                        <div class="form-row mb-3">
                            <div class="form-group col-md-4">
                                <select class="form-control" name="category">
                                    <option disabled>Выберите категорию</option>
                                    <option value="antioxidant">Не указана</option>
                                    <option value="antioxidant">Антиоксидант</option>
                                    <option value="flavor">Ароматизаторы</option>
                                    <option value="anti_caking_agent">Вещества против слеживания</option>
                                    <option value="moisture_retaining_agent">Влагоудерживающие агенты</option>
                                    <option value="wax">Воски</option>
                                    <option value="thickener">Загустители</option>
                                    <option value="complexing_agent">Комплексообразователи</option>
                                    <option value="preservative">Консерванты</option>
                                    <option value="colorant">Красители</option>
                                    <option value="frother">Пенообразователи</option>
                                    <option value="sweetener">Подсластители</option>
                                    <option value="baking_powder">Разрыхлители</option>
                                    <option value="acidity_regulator">Регуляторы кислотности</option>
                                    <option value="stabilizer">Стабилизаторы</option>
                                    <option value="texturator">Текстураторы</option>
                                    <option value="amplifiers">Усилители вкуса и аромата</option>
                                    <option value="color_retainer">Фиксаторы окраски</option>
                                    <option value="emulsifier">Эмульгаторы</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <select class="form-control" name="danger">
                                    <option disabled>Выберите уровень опасности</option>
                                    <option value="very_low">Не указана</option>
                                    <option value="very_low">Нулевая</option>
                                    <option value="very_low">Очень низкая</option>
                                    <option value="low">Низкая</option>
                                    <option value="middle">Средняя</option>
                                    <option value="high">Высокая</option>
                                    <option value="high">Очень высокая</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <select class="form-control" name="origin">
                                    <option disabled>Выберите происхождение</option>
                                    <option value="animal">Не указано</option>
                                    <option value="animal">Животное</option>
                                    <option value="vegetable">Растительное</option>
                                    <option value="vegetable">Натуральное</option>
                                    <option value="artificial">Искуственное</option>
                                    <option value="synthetic">Синтетическое</option>
                                    <option value="synthetic">Микробиологическое</option>
                                </select>
                            </div>
                        </div>
                            <div class="form-group">
                                <textarea class="form-control" aria-label="With textarea" id="harm" name="harm" placeholder="Введите вред добавки"></textarea>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" aria-label="With textarea" id="benefit" name="benefit" placeholder="Введите пользу добавки"></textarea>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" aria-label="With textarea" id="usingInfo" name="usingInfo" placeholder="Введите информацию об использовании"></textarea>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" aria-label="With textarea" id="generalInfo" name="generalInfo" placeholder="Введите описание добавки"></textarea>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" aria-label="With textarea" id="legislation" name="legislation" placeholder="Введите данные связанные с законодательством"></textarea>
                            </div>
                        <button type="submit" class="btn btn-success float-right">Добавить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>