<!doctype html>
<html lang="ru">

<head th:replace="fragments :: head"></head>

<body>
<!--Top menu-->
<th:block th:replace="fragments :: top-menu"></th:block>

<div class="container-fluid">

    <form method="get" action="/">
        <div class="row mb-2">
            <div class="col-12 col-md-10">
                <input class="form-control" type="text" name="searchRequest"
                       placeholder="Введите код или название добавки" th:value="${searchRequest}"/>
            </div>
            <div class="col-12 mt-2 col-md-2 mt-md-0">
                <button type="submit" class="btn btn-block btn-info search-button">
                    <span class="fa fa-search"></span> Искать
                </button>
            </div>
        </div>
      
        <div class="more-params-block">
            <div class="row mb-2">

                <!--Category-->
                <div class="col-12 col-md-4 col-lg-2">
                    <div class="form-group">
                        <label for="additiveCategory">Категория</label>
                        <select id="additiveCategory" name="additiveCategory" class="form-control form-control-sm">
                            <option value="">Любая</option>

                            <option th:each="sCategory: ${additiveCategories}"
                                    th:text="${sCategory.description}"
                                    th:value="${sCategory.name()}"
                                    th:selected="${sCategory == additiveCategory}"></option>
                        </select>
                    </div>
                </div>

                <!--Danger-->
                <div class="col-12 mt-2 mt-md-0 col-md-4">
                    <div class="form-group">
                        <label for="additiveDanger">Опасность</label>
                        <select id="additiveDanger" name="additiveDanger" class="form-control form-control-sm">
                            <option value="">Любая</option>

                            <option th:each="sDanger: ${additiveDangers}"
                                    th:text="${sDanger.description}"
                                    th:value="${sDanger.name()}"
                                    th:selected="${sDanger == additiveDanger}"></option>
                        </select>
                    </div>
                </div>

                <!--Origin-->
                <div class="col-12 mt-2 mt-md-0 col-md-4">
                    <div class="form-group">
                        <label for="additiveOrigin">Происхождение</label>
                        <select id="additiveOrigin" name="additiveOrigin" class="form-control form-control-sm">
                            <option value="">Любое</option>

                            <option th:each="sOrigin: ${additiveOrigins}"
                                    th:text="${sOrigin.description}"
                                    th:value="${sOrigin.name()}"
                                    th:selected="${sOrigin == additiveOrigin}"></option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>

<div class="container-fluid">
    <!--Service description-->
    <div th:if="${searchRequest == null and additiveDanger == null and additiveOrigin == null and additiveCategory == null}"
         class="card">
        <div class="card-body">
            <p>
                Сервис пищевых добавок позволяет искать пищевые добавки по их коду либо названию. Просто нажмите на
                нужную добавку для получения полной информации о ней. Если не видите нужной добавки - воспользуйтесь
                поиском.
            </p>
        </div>
    </div>

    <div class="card mt-4 mb-4 bg-light">
        <h1 class="card-header bg-success" style="font-size: 1.5rem;"
            th:text="${searchRequest == null ? 'Все пищевые добавки' : 'Результаты поиска'}"></h1>

        <div class="card-body pt-0">
            <div class="row">
                <div th:each="additive:${additives}" class="col-12 col-md-6 col-lg-4 col-xl-3 mt-3">
                    <div class="card mt-sm-4" style="height: 20rem;">

                        <div th:if="${additive.danger.name() == 'high'} or ${additive.danger.name() == 'very_high'}">
                            <div class="card-header bg-danger"
                                 th:utext="'<b>' + ${additive.eCod} + ' - ' + ${additive.name} + '</b>'"></div>
                        </div>
                        <div th:if="${additive.danger.name() == 'low' or additive.danger.name() == 'very_low' or additive.danger.name() == 'zero'}">
                            <div class="card-header bg-success"
                                 th:utext="'<b>' + ${additive.eCod} + ' - ' + ${additive.name} + '</b>'"></div>
                        </div>
                        <div th:if="${additive.danger.name() == 'middle'}">
                            <div class="card-header bg-warning"
                                 th:utext="'<b>' + ${additive.eCod} + ' - ' + ${additive.name} + '</b>'"></div>
                        </div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item pl-0 pr-0">
                                    <b>Происхождение: </b>
                                        <a th:href="'/?additiveOrigin=' + ${additive.origin.name()}"
                                           th:text="${additive.origin.getDescription()}"></a>
                                </li>
                                <li class="list-group-item pl-0 pr-0">
                                    <b>Категория: </b>
                                        <a th:href="'/?additiveCategory=' + ${additive.category.name()}"
                                           th:text="${additive.category.getDescription()}"></a>
                                </li>
                                <li class="list-group-item pl-0 pr-0">
                                    <b>Опасность: </b>
                                    <a th:href="'/?additiveDanger=' + ${additive.danger.name()}"
                                       th:text="${additive.danger.getDescription()}"></a>
                                </li>
                            </ul>
                            <a th:href="'/get-additive/'+${additive.id}"
                               class="btn btn-primary float-right my-3 m-2">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <script>
      $('.search-button').click(function(e) {
          //Окошко Подождите
          bootbox.dialog({
              message: '<div class="text-center"><i class="fa fa-spin fa-spinner"></i> Подождите, ищем добавки...</div>',
              closeButton: false,
              centerVertical: true
          });
      });
    </script>
</body>
</html>