<!doctype html>
<html lang="ru">

<head th:replace="fragments :: head"></head>
<body>

<th:block th:replace="fragments :: top-menu"></th:block>

<div class="container mb-3">
    <div class="row">
        <div class="col-sm-12 pt-sm-2">
            <form action="#" th:action="@{/additive/change}" th:object="${additive}" method="post">
                <div class="card">
                    <div class="card-header bg-success" style="color: white;">Пищевая добавка</div>

                    <div class="card-body">
                        <div class="form-group mb-3">
                            <input class="form-control form-control-sm" type="text" th:field="*{eCod}">
                        </div>
                        <div class="form-group mb-3">
                            <input class="form-control form-control-sm" type="text" th:field="*{name}">
                        </div>
                        <div class="form-group mb-3">
                            <input class="form-control form-control-sm" type="text" th:field="*{otherNames}">
                        </div>
                        <div class="form-row mb-3">
                            <div class="form-group col-md-4">
                                <label>Категория добавки</label>
                                <select class="form-control" th:field="*{category}">
                                    <option th:each="cat : ${T(com.additives.entity.AdditiveCategory).values()}"
                                            th:value="${cat}"
                                            th:text="${cat.description}">
                                    </option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label>Опасность</label>
                                <select class="form-control" th:field="*{danger}">
                                    <option th:each="dan : ${T(com.additives.entity.AdditiveDanger).values()}"
                                            th:value="${dan}"
                                            th:text="${dan.description}">
                                    </option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label>Происхождение</label>
                                <select class="form-control" th:field="*{origin}">
                                    <option th:each="orig : ${T(com.additives.entity.AdditiveOrigin).values()}"
                                            th:value="${orig}"
                                            th:text="${orig.description}">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Общая информация</label>
                            <textarea class="form-control form-control-sm" type="text" th:field="*{generalInfo}"></textarea>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" aria-label="With textarea" id="benefit" name="benefit" placeholder="Введите пользу добавки"></textarea>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" aria-label="With textarea" id="usingInfo" name="usingInfo" placeholder="Введите информацию об использовании"></textarea>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" aria-label="With textarea" id="legislation" name="generalInfo" placeholder="Введите описание добавки"></textarea>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" aria-label="With textarea" id="generalInfo" name="generalInfo" placeholder="Введите данные связанные с законодательством"></textarea>
                        </div>
                <input type="hidden" th:value="${additive.id}" name="id" />
                <div class="submit">
                    <button type="submit" class="btn btn-primary" name="save" th:text="Сохранить">Сохранить</button>
                </div>
            </div>
        </div>
    </form>
</div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
</body>
</html>