<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head th:replace="fragments :: head"></head>
  <body>

  <th:block th:replace="fragments :: top-menu"></th:block>

  <button type="button"  class="btn btn-outline-warning my-3 mx-2 btn-md">
        <span class="card-text">
          <a th:href="'/additive_parser/parse_all'" style="color: green">Спарсить все добавки</a>
        </span>
  </button>

<div class="card">

  <div class="card-body">

      <div class="container">
        <div class="row text-center">
          <div th:each="additive:${additives}">
            <div class="card">
              <div class="list-cell">
                         <span class="card-text">
                             <a th:href="'/get-supp/'+${additive.id}" th:text="${additive.eCod}" style="color: green"></a>
                         </span>
              </div>
            </div>
          </div>
        </div>
      </div>

  </div>
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    </body>
</html>