<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments :: head"></head>

<body>

<!--Top menu-->
<th:block th:replace="fragments :: top-menu"></th:block>

<div class="col-auto mx-3"><h1>О разработчиках</h1></div>

<div class="card-deck">
    <div class="card mb-3 mx-5 " style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="https://i.pinimg.com/originals/4f/6e/ea/4f6eea0fadc9085d1f1215b26a99a935.jpg" width="100"
                     height="330" class="card-img" alt="picture">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Аня</h5>
                    <p class="card-text">Выпускница GoIT в 2019 году</p>
                    <p class="card-text">Работая в нефтебизнесе 10 лет и участвуя в написании техзаданий. Я решила пойти на курсы в Go IT. Теперь я могу не только грамотно написать ТЗ, а и сама написать красивый код.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3 mx-4" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="https://i.pinimg.com/originals/bb/88/0c/bb880c3d35b4dd5274ecf669aa700d7f.jpg" width="100"
                     height="330" class="card-img" alt="picture">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Артем</h5>
                    <p class="card-text">Выпускник GoIT в 2019 году</p>
                    <p class="card-text">Пойдя учится в КПИ на "ФИОТ" я понял что это моё призвание, а курсы Go IT дополнили мои знания и доставили мне огромное удовольствие....</p>

                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3 mx-4" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="https://i.pinimg.com/originals/48/86/4f/48864f681d93d2e5621596360ad43d68.jpg" width="100"
                     height="330" class="card-img" alt="picture">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Вита</h5>
                    <p class="card-text">Выпускница GoIT в 2019 году</p>
                    <p class="card-text">Закончив университет технологий и дизайна на курсе "Компьютерные науки" и работая с ERP-системами, изучив дополнительно Java в GoIT, я поняла что все языки прекрасные, главное чтобы техзадания были интересные.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card-deck">
    <div class="card mb-3 mx-5" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="https://i.pinimg.com/originals/a2/3d/13/a23d137420b1ade81c1ff05d72acfe66.jpg" width="100"
                     height="330" class="card-img" alt="picture">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Максим</h5>
                    <p class="card-text">Выпускник GoIT в 2019 году</p>
                    <p class="card-text">Сменил профессию с дизайнера на Java разработчика. После окончания 2 курсов пошел учиться в GoIt на курс Java Enterprise. Получил много полезного опыта и желание расти и развиваться как программист.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3 mx-4" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="https://i.pinimg.com/736x/fd/4b/8d/fd4b8ddc2d945f7f600af4a85eaf9d26.jpg?b=t" width="100"
                     height="330" class="card-img" alt="picture">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Александр</h5>
                    <p class="card-text">Выпускник GoIT в 2019 году</p>
                    <p class="card-text">Работая в сфере международной логистики. Я решил координально изменить свою жизнь и пошел на курсы в Go IT на java. И не прогадал. На сколько это интересно и занимательно погружатся в мир ООП.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3 mx-4" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="https://i.pinimg.com/736x/2e/b9/c5/2eb9c5c59360937e3037692cdac3f6f4.jpg" width="100"
                     height="330" class="card-img" alt="picture">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Алексей</h5>
                    <p class="card-text">Выпускник GoIT в 2019 году</p>
                    <p class="card-text">Изучая java на курсах Go IT, я обрел новую очень интересную профессию. К любому решению задачи в жизни я стал подходить кака Классам и Методам.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>