<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>E-dobavki</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-success sticky-top">

    <a class="navbar-brand" href="./home.html">
        <img src="https://i.ibb.co/192kTTN/logo2.png" width="230" height="50" alt="logo">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false">

        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">

                <a href="./home.html" class="nav-link text-light h4">Главная</a>
            </li>
            <li class="nav-item">
                <a href="./supplements.html" class="nav-link text-light h4">Пищевые добавки</a>
            </li>
            <li class="nav-item">
                <a href="./products.html" class="nav-link text-light h4">Продукты</a>
            </li>
        </ul>
        <form class="form-inline">
            <a href="./developers.html" class="nav-link text-light ">О разработчиках</a>

        </form>
    </div>
</nav>
<div class="col-auto mx-3"><h1>О разработчиках</h1></div>

            <div class="card-deck">
                <div class="card mb-3 mx-5 " style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="https://i.pinimg.com/originals/4f/6e/ea/4f6eea0fadc9085d1f1215b26a99a935.jpg" width="100" height="330" class="card-img" alt="picture">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Аня</h5>
                                <p class="card-text">Выпускница GoIT в 2019 году</p>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="card mb-3 mx-4" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="https://i.pinimg.com/originals/bb/88/0c/bb880c3d35b4dd5274ecf669aa700d7f.jpg" width="100" height="330" class="card-img" alt="picture">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Артем</h5>
                                    <p class="card-text">Выпускник GoIT в 2019 году</p>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="card mb-3 mx-4" style="max-width: 540px;">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="https://i.pinimg.com/originals/48/86/4f/48864f681d93d2e5621596360ad43d68.jpg" width="100" height="330" class="card-img" alt="picture">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Вита</h5>
                                        <p class="card-text">Выпускница GoIT в 2019 году</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="card-deck">
                            <div class="card mb-3 mx-5" style="max-width: 540px;">
                                <div class="row no-gutters">
                                    <div class="col-md-4">
                                        <img src="https://i.pinimg.com/originals/a2/3d/13/a23d137420b1ade81c1ff05d72acfe66.jpg" width="100" height="330" class="card-img" alt="picture">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">Максим</h5>
                                            <p class="card-text">Выпускник GoIT в 2019 году</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <div class="card mb-3 mx-4" style="max-width: 540px;">
                                    <div class="row no-gutters">
                                        <div class="col-md-4">
                                            <img src="https://i.pinimg.com/736x/fd/4b/8d/fd4b8ddc2d945f7f600af4a85eaf9d26.jpg?b=t" width="100" height="330" class="card-img" alt="picture">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title">Александр</h5>
                                                <p class="card-text">Выпускник GoIT в 2019 году</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    <div class="card mb-3 mx-4" style="max-width: 540px;">
                                        <div class="row no-gutters">
                                            <div class="col-md-4">
                                                <img src="https://i.pinimg.com/736x/2e/b9/c5/2eb9c5c59360937e3037692cdac3f6f4.jpg" width="100" height="330" class="card-img" alt="picture">
                                            </div>
                                            <div class="col-md-8">
                                                <div class="card-body">
                                                    <h5 class="card-title">Алексей</h5>
                                                    <p class="card-text">Выпускник GoIT в 2019 году</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
</body>
</html>