<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>E-dobavki</title>
  </head>
  <body>
  	<nav class="navbar navbar-expand-lg navbar-light bg-success sticky-top">
  	<a class="navbar-brand" href="./home.html" >
  		<img src="https://i.ibb.co/192kTTN/logo2.png" width="230" height="50" alt="logo">
    </a>
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false">
  		<span class="navbar-toggler-icon"></span>	
  		</button>
  		<div class="collapse navbar-collapse" id="navbarSupportedContent" >
  			<ul class="navbar-nav mr-auto">
  			<li class="nav-item active">
  				<a href="./home.html" class="nav-link text-light h4">Главная</a>
  			</li>
  			<li class="nav-item">
  				<a href="./supplements.html" class="nav-link text-light h4">Пищевые добавки</a>
  			</li>
  			<li class="nav-item">
  				<a href="./supplement.html" class="nav-link text-light h4">Продукты</a>
  			</li>
      </ul>
      <form class="form-inline">
        <a href="./developers.html" class="nav-link text-light ">О разработчиках</a>
      </form>
  		</div>
  	</nav>
	<div class="container">
    <div class="row mt-2">
		  <div class="col-12 col-md-10">
        <input class="form-control form-control-sm" type="search" placeholder="Введиде название добавки" aria-label="Search">
      </div> 
      <div class="col-12 col-md-2 mt-3 mt-md-0">
        <button class="btn btn-sm btn-success btn-block" type="submit">Поиск</button>
      </div>
    </div>
  </div>
    <div class="col-auto"><h1>Случайные добавки</h1></div>
    
    <div class="card-deck">
          <div class="card mb-3 mx-4" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="http://am-am.su/uploads/posts/2013-09/1379943962_e103.png" class="card-img" alt="picture">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">E-103</h5>
                    <p class="card-text">Происхождение :растительное, категория добавки: красители, опасность: высокая</p>
                    <a href="/supplement" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
          </div>
          </div>
            <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="http://am-am.su/uploads/posts/2013-09/1379943962_e103.png" class="card-img" alt="picture">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">E-103</h5>
                    <p class="card-text">Происхождение :растительное, категория добавки: красители, опасность: высокая</p>
                    <a href="/supplement" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
          </div>
            </div>
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="http://am-am.su/uploads/posts/2013-09/1379943962_e103.png" class="card-img" alt="picture">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">E-103</h5>
                    <p class="card-text">Происхождение :растительное, категория добавки: красители, опасность: высокая</p>
                    <a href="/supplement" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card-deck">
          <div class="card mb-3 mx-4" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="http://am-am.su/uploads/posts/2013-09/1379943962_e103.png" class="card-img" alt="picture">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">E-103</h5>
                    <p class="card-text">Происхождение :растительное, категория добавки: красители, опасность: высокая</p>
                    <a href="/supplement" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
          </div>
          </div>
            <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="http://am-am.su/uploads/posts/2013-09/1379943962_e103.png" class="card-img" alt="picture">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">E-103</h5>
                    <p class="card-text">Происхождение :растительное, категория добавки: красители, опасность: высокая</p>
                    <a href="/supplement" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
          </div>
            </div>
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="http://am-am.su/uploads/posts/2013-09/1379943962_e103.png" class="card-img" alt="picture">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">E-103</h5>
                    <p class="card-text">Происхождение :растительное, категория добавки: красители, опасность: высокая</p>
                    <a href="/supplement" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    </body>
</html>