<!doctype html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments :: head"></head>

<body>

<!--Top menu-->
<th:block th:replace="fragments :: top-menu"></th:block>

<div class="container-fluid">

    <form method="get" action="/supplement">
        <div class="row mb-2">
            <div class="col-12 col-md-10">
                <input class="form-control" type="text" name="searchSupplement"
                       placeholder="Введите код или название добавки" th:value="${searchSupplement}"/>
            </div>
            <div class="col-12 mt-2 col-md-2 mt-md-0">
                <button type="submit" class="btn btn-block btn-info">
                    <span class="fa fa-search"></span> Искать</button>
            </div>
        </div>
    </form>
</div>

<div class="col-auto"><h1>Случайные добавки</h1></div>

<div class="card-deck">
    <div class="card mb-3 mx-4" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="http://am-am.su/uploads/posts/2013-09/1379943962_e103.png" class="card-img" alt="picture">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">E-103</h5>
                    <p class="card-text">Происхождение :растительное, категория добавки: красители, опасность:
                        высокая</p>
                    <a href="/supplement" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>