<!doctype html>
<html lang="ru">

<head th:replace="fragments :: head"></head>

  <body>
  	<nav class="navbar navbar-expand-lg navbar-light bg-success sticky-top">
  	<a class="navbar-brand" href="/" >
  		<img src="https://i.ibb.co/192kTTN/logo2.png" width="230" height="50" alt="logo">
    </a>
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false">
  		<span class="navbar-toggler-icon"></span>	
  		</button>
  		<div class="collapse navbar-collapse" id="navbarSupportedContent" >
  			<ul class="navbar-nav mr-auto">
  			<li class="nav-item active">
  				<a href="/" class="nav-link text-light h4">Головна</a>
  			</li>
  			<li class="nav-item">
  				<a href="/supplements" class="nav-link text-light h4">Харчові добавки</a>
  			</li>
  			<li class="nav-item">
  				<a href="/supplement" class="nav-link text-light h4">Продукти</a>
  			</li>
      </ul>
      <form class="form-inline">
        <a href="/developers" class="nav-link text-light ">Про розробників</a>
      </form>
  		</div>
  	</nav>
	<div class="container">
    <div class="row mt-2">
		  <div class="col-12 col-md-10">
        <input class="form-control form-control-sm" type="search" placeholder="Введіть назву добавки" aria-label="Search">
      </div> 
      <div class="col-12 col-md-2 mt-3 mt-md-0">
        <button class="btn btn-sm btn-success btn-block" type="submit">Пошук</button>
      </div>
    </div>
  </div>
    <div class="col-auto"><h1>Випадкові добавки</h1></div>
    
    <div class="card-deck">
          <div class="card mb-3 mx-4" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="http://am-am.su/uploads/posts/2013-09/1379943962_e103.png" class="card-img" alt="picture">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">E-103</h5>
                    <p class="card-text">Походження:рослинне, категорія добавки: барвники, небезпека: висока</p>
                    <a href="/supplement" class="btn btn-primary">Детальніше</a>
                </div>
            </div>
          </div>
            <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="http://am-am.su/uploads/posts/2013-09/1379943962_e103.png" class="card-img" alt="picture">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">E-103</h5>
                    <p class="card-text">Походження:рослинне, категорія добавки: барвники, небезпека: висока</p>
                    <a href="/supplement" class="btn btn-primary">Детальніше</a>
                </div>
            </div>
          </div>
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="http://am-am.su/uploads/posts/2013-09/1379943962_e103.png" class="card-img" alt="picture">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">E-103</h5>
                    <p class="card-text">Походження:рослинне, категорія добавки: барвники, небезпека: висока</p>
                    <a href="/supplement" class="btn btn-primary">Детальніше</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card-deck">
          <div class="card mb-3 mx-4" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="http://am-am.su/uploads/posts/2013-09/1379943962_e103.png" class="card-img" alt="picture">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">E-103</h5>
                    <p class="card-text">Походження:рослинне, категорія добавки: барвники, небезпека: висока</p>
                    <a href="/supplement" class="btn btn-primary">Детальніше</a>
                </div>
            </div>
          </div>
            <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="http://am-am.su/uploads/posts/2013-09/1379943962_e103.png" class="card-img" alt="picture">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">E-103</h5>
                    <p class="card-text">Походження:рослинне, категорія добавки: барвники, небезпека: висока</p>
                    <a href="/supplement" class="btn btn-primary">Детальніше</a>
                </div>
            </div>
          </div>
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="http://am-am.su/uploads/posts/2013-09/1379943962_e103.png" class="card-img" alt="picture">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">E-103</h5>
                    <p class="card-text">Походження:рослинне, категорія добавки: барвники, небезпека: висока</p>
                    <a href="/supplement" class="btn btn-primary">Детальніше</a>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    </body>
</html>