<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments :: page-head"></head>

<body>
    <div class="container">
        <div class="row mt-2">
           <div class="col-12 col-md-10">
               <input type="text" name="search" class="form-control form-control-sm">
           </div>

            <div class="col-12 col-md-2 mt-3 mt-md-0">
                <div class="btn btn-sm btn-primary btn-block">Искать</div>
            </div>
        </div>
    </div>
</body>
</html>