<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>E-dobavki</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-success sticky-top">
    <a class="navbar-brand" href="./home.html">
        <img src="https://i.ibb.co/192kTTN/logo2.png" width="230" height="50" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a href="./home.html" class="nav-link text-light h4">Главная</a>
            </li>
            <li class="nav-item">
                <a href="./supplements.html" class="nav-link text-light h4">Пищевые добавки</a>
            </li>
            <li class="nav-item">
                <a href="./products.html" class="nav-link text-light h4">Продукты</a>
            </li>
        </ul>
        <form class="form-inline">
            <a href="./developers.html" class="nav-link text-light ">О разработчиках</a>
        </form>
    </div>
</nav>

<div class="col-auto mx-3 text-center"><h1>Продукты</h1></div>
<div class="conteiner-fluid">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-12"></div>

            <a  href="./product.html" role="button" class="btn btn-outline-warning my-2 mx-1 btn-lg">Шоколадный батончик "Сникерс"</a>
            <button type="button" class="btn btn-outline-warning my-2 mx-1 btn-lg">Продукт_2</button>
            <button type="button" class="btn btn-outline-warning my-2 mx-1 btn-lg">Продукт_3</button>
            <button type="button" class="btn btn-outline-warning my-2 mx-1 btn-lg">Продукт_4</button>
            <button type="button" class="btn btn-outline-warning my-2 mx-1 btn-lg">Продукт_5</button>
            <button type="button" class="btn btn-outline-warning my-2 mx-1 btn-lg">Продукт_6</button>
            <button type="button" class="btn btn-outline-warning my-2 mx-1 btn-lg">Продукт_7</button>
            <button type="button" class="btn btn-outline-warning my-2 mx-1 btn-lg">Продукт_8</button>
            <button type="button" class="btn btn-outline-warning my-2 mx-1 btn-lg">Продукт_9</button>
        </div>
    </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

</body>
</html>