<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="ru">
<head th:replace="fragments :: head"></head>

  <body>

  <!--Top menu-->
  <th:block th:replace="fragments :: top-menu"></th:block>

  <div class="col-auto mx-3 text-center"><h1>Пищевые добавки</h1></div>
<div class="conteiner-fluid">
    <div class="container">
        <div class="row text-center">
             <div th:each="supplement:${supplements}">
                 <div class="card">
                     <div class="btn btn-outline-warning my-2 mx-1 btn-lg">
                         <span class="card-text">
                             <a th:href="'/get-supp/'+${supplement.id}" th:text="${supplement.eCod}" style="color: green"></a>
                         </span>
                     </div>
                 </div>
             </div>
        </div>
    </div>
</div>
  </body>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

</html>