<!doctype html>
<html lang="ru">

<head th:replace="fragments :: head"></head>

<body>
<!--Top menu-->
<th:block th:replace="fragments :: top-menu"></th:block>

<div class="container-fluid">
    <form method="get" action="/">
        <div class="row mb-2">
            <div class="col-12 col-md-10">
                <input class="form-control" type="text" name="searchRequest"
                       placeholder="Введите код или название добавки" th:value="${searchRequest}"/>
            </div>
            <div class="col-12 mt-2 col-md-2 mt-md-0">
                <button type="submit" class="btn btn-block btn-info search-button">
                    <span class="fa fa-search"></span> Искать
                </button>
            </div>
        </div>
    </form>
</div>

<div class="col-sm-12 mx-3 text-success"><h1 align="center">Пищевая добавка <span class="card-text" th:text="${supplement.eCod}"></span></h1></div>

<div class="card-body">
    <div class="mt-sm-3 mb-sm-1">
        <div class="container">
            <div class="card mb-3 mx-4">
                <div class="row no-gutters">
                    <div class="col-sm">

                        <div th:if="${user != null and user.hasRole('ADMIN')}">
                            <div class="card-text mx-3 my-2">
                                 <a th:href="'/supplement/change/'+${supplement.id}" th:text="Редактировать" class="btn btn-primary"></a>
                                <a th:href="'/admin/deleteSupplement/'+${supplement.id}" th:text="Удалить" class="btn btn-danger"></a>
                             </div>
                        </div>

                        <div class=" mx-4 mt-3 h2 text-success"><span class="card-text" th:text="${supplement.eCod}"></span></div>

                        <div class=" mx-4 mt-3 h4"><span class="card-text" th:text="${supplement.name}"></span></div>

                        <div class=" mx-4 mt-3"><span class="card-text" th:text="${supplement.other_names}"></span></div>
                        <div class="mx-4 mt-3">Происхождение: <span class="card-text" th:text="${supplement.origin.getDescription()}"></span></div>
                        <div class="mx-4 mt-3">Категория: <span class="card-text" th:text="${supplement.category.getDescription()}"></span></div>
                        <div class="mx-4 mt-3">Опасность: <span class="card-text" th:text="${supplement.danger.getDescription()}"></span></div>
                    </div>

                    <div class="col-md-8">
                        <div class="card-body">
                            <div class="col-sm h4 text-center">Общая информация</div>
                            <p class="card-text text-justify"><span class="card-text"
                                                                    th:text="${supplement.generalInfo}"></span></p>
                        </div>
                    </div>
                </div>

                <p></p>
                <div class="row">
                    <div class="col-sm h4 text-center">Влияние на организм</div>
                </div>

                <div class="row">
                    <div class="col-sm">
                        <div class="mx-4 h5 text-success text-center">Польза</div>
                        <div class="mx-4 text-justify"><span class="card-text" th:text="${supplement.benefit}"></span>
                        </div>
                    </div>

                    <div class="col-sm">
                        <div class="h5 text-danger text-center">Вред</div>
                        <div class="mr-4 text-justify"><span class="card-text" th:text="${supplement.harm}"></span>
                        </div>
                    </div>
                </div>

                <p></p>
                <div class="row">
                    <div class="col-sm h4 text-center">Использование</div>
                    <div class="mx-4 text-justify"><span class="card-text" th:text="${supplement.using_info}"></span>
                    </div>
                </div>

                <p></p>
                <div class="row">
                    <div class="col-sm h4 text-center">Законодавство</div>
                    <div class="mx-4 text-justify"><span class="card-text" th:text="${supplement.legislation}"></span>
                    </div>
                </div>
                <p></p>
            </div>
        </div>
    </div>
</div>


<script>
      $('.search-button').click(function(e) {
          //Окошко Подождите
          bootbox.dialog({
              message: '<div class="text-center"><i class="fa fa-spin fa-spinner"></i> Подождите, ищем добавки...</div>',
              closeButton: false,
              centerVertical: true
          });
      });

</script>
</body>

</html>