<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>E-dobavki</title>
  </head>
  <body>
  	<nav class="navbar navbar-expand-lg navbar-light bg-success sticky-top">
  	<a class="navbar-brand" href="./home.html" >
  		<img src="https://i.ibb.co/192kTTN/logo2.png" width="230" height="50" alt="logo">
  		
  	</a>
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false">
  		<span class="navbar-toggler-icon"></span>	
  		</button>
  		<div class="collapse navbar-collapse" id="navbarSupportedContent" >
  			<ul class="navbar-nav mr-auto">
  			<li class="nav-item active">
  				<a href="./home.html" class="nav-link text-light h4">Головна</a>
  			</li>
  			<li class="nav-item">
  				<a href="./supplements.html" class="nav-link text-light h4">Харчові добавки</a>
  			</li>
  			<li class="nav-item">
  				<a href="./products.html" class="nav-link text-light h4">Продукти</a>
  			</li>
      </ul>
      <form class="form-inline">
        <a href="./developers.html" class="nav-link text-light ">Про розробників</a>
      </form>
  		</div>
  	</nav>

    <div class="col-sm-12 mx-3"><h1>Харчова добавка</h1></div>
    
    <div class="container">
      <div class="card mb-3 mx-4">
            <div class="row no-gutters">
              <div class="col-sm">
                <div class=" mx-4 mt-3 h2 text-success">E 100 – Куркуміни</div>
                <div class="mx-4">Походження: рослинна</div>
                <div class="mx-4">Категорія добавки: Барвники</div>
                <div class="mx-4">Небезпека: дуже низька</div>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Загальна інформація</h5>
                  <p class="card-text text-justify">Куркуміни (харчова добавка E 100) — яскраво-жовті натуральні барвники, що одержуються з рослини куркуми (Curcuma longa). По своїй хімічній природі, куркуміни — це поліфеноли, які легко розчиняються в спирті та ефірі, але зовсім нерозчинні у воді. У лужному розчині добавка E 100 набуває буро-червоного коліру, у мінеральних кислотах колір добавки E 100 не змінюється. Хімічна формула куркуміна: C21H20O6. Молекулярна структура куркуміну була визначена у 1910 році.</p>
                  </div>
              </div>
            </div>
            
              <div class="row">
                <div class="col-sm"></div>
                <div class="col-sm h4">Вплив на організм</div>
                <div class="col-sm"></div>
              </div>
            <div class="row">
              <div class="col-sm">
                  <div class="mx-4 h5 text-success text-center">Користь</div>
                  <div class="mx-4 text-justify">Куркумін має цілий ряд лікувальних властивостей — він має протизапальну, протиокислювальну, протипухлинну дії. Протиракова властивість куркумінів проявляється завдяки їх можливості викликати природну смерть ракових кліток, без впливу на здорові клітини. В 2004-му році були проведені дослідження, які довели, що куркумін перешкоджає нагромадженню бета-амелоідів у мозку людей із хворобою Альцгеймера, і руйнує тромбоцити, що викликаються цією хворобою. Крім цього, куркумін (харчова добавка E 100) відновлює функціональний стан кліток серця. Ці лікувальні властивості куркуміна обумовлені можливістю молекул потрапляти в мембрани кліток різних органів, роблячи їх стійкими до інфекцій.</div>
              </div>
              <div class="col-sm">
                  <div class="h5 text-danger text-center">Шкода</div>
                  <div class="mr-4 text-justify">У той же час, не слід забувати, що навіть корисні для організму речовини, у великих кількостях можуть призвести до зворотнього ефекту. Існує припущення, що медичне застосування препаратів, що містять куркумін під час вагітності може призвести до викидня, хоча свідоцтв таких випадків досить мало. На даний час дослідження впливу куркуміна на організм людини тривають.</div>
                </div>
            </div>
          
              <div class="row">
                <div class="col-sm"></div>
                <div class="col-sm h4">Використання</div>
                <div class="col-sm"></div>
              </div>
            <div class="row">
              <div class="col-sm">
                  <div class="mx-4 text-justify">Завдяки особливості харчової добавки E 100 — фарбувати у жовтий колір як рослинні, так і тваринні волокна, куркумін одержав широке поширення в харчовій промисловості, як натуральний барвник, аналогічний штучним азобарвникам.</div>
                  <div class="mx-4 text-justify">Куркуміни у вигляді харчової добавки E 100 використовуються як барвник при виробництві сирів, вершкового масла, гірчиці. Маючи гірко-пекучий смак і злегка камфорний запах, барвник E 100 широко використовується в кондитерської промисловості, при виготовленні лікерів і інших алкогольних напоїв. Куркумін є основним інгридієнтом у приправі Карри, яка широко розповсюджена в країнах Східної Азії, як пряність, що додається в рис, овочі, тісто, м'ясні й рибні страви.</div>
                  <div class="mx-4 text-justify">У деяких країнах куркумін застосовується в народній медицині. В Індії — як ліки від кашлю, ревматизму, втрати апетиту та при лікуванні розтягнення зв'язок, у Китаї — для полегшення різних болів у животі.</div>
                </div>
            </div>
       
              <div class="row">
                <div class="col-sm"></div>
                <div class="col-sm h4">Законодавство</div>
                <div class="col-sm"></div>
              </div>
            <div class="row">
              <div class="col-sm">
                  <div class="mx-4 text-justify">Харчова добавка E 100 дозволена для застосування в харчовій промисловості більшості країн, у тому числі Росії та України.</div>
                </div>
            </div>
            <p></p>
          </div>
      </div>  

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    </body>
</html>