<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>E-dobavki</title>
  </head>
  <body>
  	<nav class="navbar navbar-expand-lg navbar-light bg-success sticky-top">
  	<a class="navbar-brand" href="/" >
  		<img src="https://i.ibb.co/192kTTN/logo2.png" width="230" height="50" alt="logo">
  		
  	</a>
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false">
  		<span class="navbar-toggler-icon"></span>	
  		</button>
  		<div class="collapse navbar-collapse" id="navbarSupportedContent" >
  			<ul class="navbar-nav mr-auto">
  			<li class="nav-item active">
  				<a href="./home.html" class="nav-link text-light h4">Главная</a>
  			</li>
  			<li class="nav-item">
  				<a href="./supplements.html" class="nav-link text-light h4">Пищевая добавки</a>
  			</li>
  			<li class="nav-item">
  				<a href="./products.html" class="nav-link text-light h4">Продукты</a>
  			</li>
      </ul>
      <form class="form-inline">
        <a href="./developers.html" class="nav-link text-light ">О разработчиках</a>
      </form>
  		</div>
  	</nav>

    <div class="col-sm-12 mx-3 text-center"><h1>Пищевая добавка</h1></div>
    
    <div class="container">
      <div class="card mb-3 mx-4">
            <div class="row no-gutters">
              <div class="col-sm">
                <div class=" mx-4 mt-3 h2 text-success">E 100 – Куркумин</div>
                <div class="mx-4">Происхождение: растительное</div>
                <div class="mx-4">Категория добавки: красители</div>
                <div class="mx-4">Опасность: дуже низька</div>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Общая информация</h5>
                  <p class="card-text text-justify">Куркумины (пищевая добавка E 100) - ярко-желтые натуральные красители,
                      получаемые из растения куркумы (Curcuma longa). По своей химической природе, куркумины - это полифенолы,
                      которые легко растворяются в спирте и эфире, но совершенно нерастворимые в воде. В щелочном растворе
                      добавка E 100 приобретает буро-красный цвет, в минеральных кислотах цвет добавки E 100 не меняется.
                      Химическая формула куркумина: C21H20O6. Молекулярная структура куркумина была определена в 1910 году.
                      Краситель E 100 из корней куркумы получают путем экстрагирования порошка из корней петролейным эфиром,
                      а после спиртом. Концентрацию спиртового экстракта, добываемого на выходе, можно регулировать, до
                      необходимого количества красителей. Два самых распространенных красители этого типа - это куркумин
                      (пищевая добавка E 100i), получаемый из чертополоха и других растений рода Curcuma и турмерик
                      (пищевая добавка E 100ii) - порошок корня куркумы. Последний, включает в себя мелкие частицы жировых клеток,
                      и желатиноподибну крахмалистую массу.</p>
                  </div>
              </div>
            </div>
            
              <div class="row">
                <div class="col-sm"></div>
                <div class="col-sm h4">Воздействие на организм</div>
                <div class="col-sm"></div>
              </div>
            <div class="row">
              <div class="col-sm">
                  <div class="mx-4 h5 text-success text-center">Польза</div>
                  <div class="mx-4 text-justify">Куркумин имеет целый ряд лечебных свойств - он обладает противовоспалительным,
                      противоокислительную, противоопухолевое действие. Противораковое свойство куркумина проявляется благодаря
                      их возможности вызвать естественную смерть раковых клеток, не затрагивая здоровые клетки. В 2004 году были
                      проведены исследования, которые доказали, что куркумин препятствует накоплению бета-амелоидив в мозге людей
                      с болезнью Альцгеймера, и разрушает тромбоциты, вызываемые этой болезнью. Кроме этого, куркумин
                      (пищевая добавка E 100) восстанавливает функциональное состояние клеток сердца. Эти лечебные свойства куркумина
                      обусловлены возможностью молекул попадать в мембраны клеток различных органов, делая их устойчивыми к инфекциям.</div>
              </div>
              <div class="col-sm">
                  <div class="h5 text-danger text-center">Вред</div>
                  <div class="mr-4 text-justify">В то же время, не следует забывать, что даже полезные для организма вещества,
                      в больших количествах могут привести к обратному эффекту. Существует предположение, что медицинское применение
                      препаратов, содержащих куркумин во время беременности может привести к выкидышу, хотя свидетельств таких
                      случаев довольно мало. В настоящее время исследования влияния куркумина на организм человека продолжаются.</div>
                </div>
            </div>
          
              <div class="row">
                <div class="col-sm"></div>
                <div class="col-sm h4">Использование</div>
                <div class="col-sm"></div>
              </div>
            <div class="row">
              <div class="col-sm">
                  <div class="mx-4 text-justify">Благодаря особенности пищевой добавки E 100 - красить в желтый цвет как
                      растительные, так и животные волокна, куркумин получил широкое распространение в пищевой промышленности,
                      как натуральный краситель, аналогичный искусственным азокрасителям.</div>
                  <div class="mx-4 text-justify">Куркумины в виде пищевой добавки E 100 используются как краситель при
                      производстве сыров, сливочного масла, горчицы. Имея горько-жгучий вкус и слегка камфорный запах, краситель
                      E 100 широко используется в кондитерской промышленности, при изготовлении ликеров и других алкогольных напитков.
                      Куркумин является основным ингредиенты в приправе Карри, которая широко распространена в странах Восточной Азии,
                      как пряность, добавляется в рис, овощи, тесто, мясные и рыбные блюда.</div>
                  <div class="mx-4 text-justify">В некоторых странах куркумин применяется в народной медицине. В Индии -
                      как лекарство от кашля, ревматизма, потери аппетита и при лечении растяжения связок, в Китае - для
                      облегчения различных болей в животе.</div>
                </div>
            </div>
       
              <div class="row">
                <div class="col-sm"></div>
                <div class="col-sm h4">Законодательство</div>
                <div class="col-sm"></div>
              </div>
            <div class="row">
              <div class="col-sm">
                  <div class="mx-4 text-justify">Пищевая добавка E 100 разрешена для применения в пищевой промышленности
                      большинства стран, в том числе России и Украины.</div>
                </div>
            </div>
            <p></p>
          </div>
      </div>  

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    </body>
</html>