<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title></title>
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">E-Dobavki</a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item ">
          <a class="nav-link" href="admin-home-supplements.html">Добавки</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link active" href="./test_admin_home_products.html">Продукты</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button type="button" class="btn btn-success">Добавить</button>
      </form>
    </div>
  </nav>
</ul>
<div class="card">
  <div class="card-body">
    <ul class="list-group">
      <li class="list-group-item">Шоколадный батончик "Сникерс"
        <button type="button" class="btn btn-danger float-right"><i class="fa fa-trash"></i></button>
        <button type="button" class="btn btn-warning float-right"><i class="fa fa-pencil"></i></button>
      </li>
      <li class="list-group-item">Шоколадный батончик "Сникерс"
        <button type="button" class="btn btn-danger float-right"><i class="fa fa-trash"></i></button>
        <button type="button" class="btn btn-warning float-right"><i class="fa fa-pencil"></i></button>
      </li>
      <li class="list-group-item">Шоколадный батончик "Сникерс"
        <button type="button" class="btn btn-danger float-right"><i class="fa fa-trash"></i></button>
        <button type="button" class="btn btn-warning float-right"><i class="fa fa-pencil"></i></button>
      </li>
      <li class="list-group-item">Шоколадный батончик "Сникерс"
        <button type="button" class="btn btn-danger float-right"><i class="fa fa-trash"></i></button>
        <button type="button" class="btn btn-warning float-right"><i class="fa fa-pencil"></i></button>
      </li>
      <li class="list-group-item">Шоколадный батончик "Сникерс"
        <button type="button" class="btn btn-danger float-right"><i class="fa fa-trash"></i></button>
        <button type="button" class="btn btn-warning float-right"><i class="fa fa-pencil"></i></button>
      </li>
    </ul>
  </div>
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
     </body>
</html>