<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments :: head"></head>

<body>
<div class="container">
    <form method="post" action="/add_supplement" class="parser-form">
        <div class="card mb-3 mt-3">
            <div class="card-header bg-primary text-white">Спарсить добавку</div>

            <div class="card-body">
                <div class="form-group">
                    <label for="url">Введите URL добавки</label>
                    <input id="url" type="text" class="form-control" name="searchString" placeholder="добавка"></input>
                </div>

                <div class="submit-button btn btn-primary float-right mt-sm-4">Спарсить</div>
            </div>
        </div>
    </form>
</div>

<script>
    $('.submit-button').click(function(e) {
        var url = $('#url').val();

        $.post( "/parser", {searchString: url}, function( data ) {
            bootbox.alert(data);
        });
    });
</script>
</body>
</html>