<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments :: head"></head>

<body>
<!--Top menu-->
<th:block th:replace="fragments :: top-menu"></th:block>

<div class="container">
    <div th:if="${parsedSupplements}" class="card mt-2">
        <div class="card-header bg-info text-white">Результат парсинга</div>

        <div class="card-body" th:if="${parsedSupplements.size() == 0}">
            <span class="card-title">Не получилось спарсить ни одну добавку</span>
        </div>

        <div th:if="${parsedSupplements.size() != 0}" class="card-body">
            <h5 class="card-title">Следующие добавки были успешно загружены:</h5>

            <span class="card-text" th:each="supplement: ${parsedSupplements}" th:utext="${supplement.eCod} + ' - ' + ${supplement.name} + '<br>'"></span>
        </div>
    </div>

    <div class="card mb-3 mt-3">

        <div class="card-header border-success text-success font-weight-bold">Загрузить информацию про добавки с сайта dobavkam.net</div>
        <div class="card-body">
            <form method="post" action="/supplement_parser" class="parser-form">
                <p class="card-text">Введите запрос, может содержать несколько добавок.</p>
                <div class="form-group">
                    <textarea rows="10" style="resize: vertical;" class="form-control form-control-sm"
                              name="searchString" placeholder="Ваш запрос"></textarea>
                </div>
                <button type="submit" class="btn btn-success float-right mt-sm-4">Загрузить</button>
            </form>
            <form method="post" action="/supplement_parser/parse_all" class="parser-form">
                <button type="submit" class="btn btn-success float-right mt-sm-4 mr-sm-4">Загрузить все</button>
            </form>
        </div>
    </div>
</div>

<script>
    $('.submit-button').click(function(e) {
        var url = $('#url').val();

        $.post( "/parser", {searchString: url}, function( data ) {
            bootbox.alert(data);
        });
    });
</script>

</body>
</html>